.checkout {
    display: flex;
    padding: 20px;
}

.checkout-ad {
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
}

.checkout-title {
    padding: 10px;
    border-bottom: 2px solid lightgrey;
}

.checkoutproduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    align-items: center;
}

.checkoutproduct-img {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.checkoutproduct-info {
    padding-left: 20px;

}

.checkoutproduct-title {
    font-size: 17px;
    font-weight: 800;
}

.checkoutproduct-price {
    margin: 20px 0px;
}

.checkoutproduct-info button {
    background-color: #f0c14b;
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: sticky;
}
.subtotal button {
    margin-top: 20px;
    background-color: #f0c14b;
    border: 1px solid;
    padding: 7px 20px;
  
    cursor: pointer;
}

